<link rel="stylesheet" href="{{ '/assets/css/navigation_sidebar.css' | relative_url }}"> 
<link rel="stylesheet" href="{{ '/assets/css/browse_by_category.css' | relative_url }}"> 
<link rel="stylesheet" href="{{ '/assets/css/popular_variables.css' | relative_url }}">
<link rel="stylesheet" href="{{ '/assets/css/nshd_data_dictionary.css' | relative_url }}"> 
<link rel="stylesheet" href="{{ '/assets/css/baskets.css' | relative_url }}"> 
<link rel="stylesheet" href="{{ '/assets/css/jargon.css' | relative_url }}"> 

<link rel="preconnect" href="https://cdn.jsdelivr.net" crossorigin>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@3.19.0/dist/tabler-icons.min.css">
<script src="/OWL/assets/js/basket_header.js"></script>
<script src="/OWL/assets/js/icon_insert.js"></script>
<script src="/OWL/assets/js/jargon-terms.js"></script>
<script src="/OWL/assets/js/jargon-linker.js"></script>
